<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ross.weatherinfoapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Weather Info"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="DATABASE"
            android:value="citydb.db" />
        <meta-data
            android:name="VERSION"
            android:value="11" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.example.ross.weatherinfoapp.data" />

        <activity
            android:name="com.example.ross.weatherinfoapp.MainActivity"
            android:label="Weather Info"
            android:theme="@style/AppTheme.NoActionBar">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name="com.example.ross.weatherinfoapp.AddCityActivity"
            android:theme="@style/Theme.AppCompat.Dialog"
            android:label="New City"
            />
        <activity android:name="com.example.ross.weatherinfoapp.DetailsActivity"
            android:label="Weather Info"
            />

        <activity android:name="com.example.ross.weatherinfoapp.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>